<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium"></span></h5>
      <h1>How popular is your name in Minnesota?</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> and <a href="http://www.startribune.com/maryjo-webster/303594441/">MaryJo Webster</a> • <span>Star Tribune</span></p> 
      <p class="byline"><time pubdate="true" datetime="2019-05-28T16:00:00">May 16, 2019</time></p>
    </section>

    <section class="container-lg leadin">
        <p>Each year, the U.S. Census Bureau releases data showing the popularity of first names throughout the country, state-by-state.  And each year, the Star Tribune analyzes that data to determine which names are most popular in Minnesota, both currently and over time.</p>
        
        <p>Enter a name into the search box to reveal how it's trended in Minnesota since the early 20th century to now.</p>

    </section>


    <div id="wrapper">

      <div class="slide" id="lookup">
    <div id="filter"><input type="search" id="filter_box" placeholder="Type name and press enter" /></div>

    <h2 class="chartTitle">Popularity of the name <span id="named"></span> in Minnesota</h2>
    <div class="chatter">Rate per 10,000 <span class="stat sex"></span> births by year</div>

    <div id="chart"></div>

    <div class="infobox legendary orange3">Male</div>
    <div class="infobox legendary purple2">Female</div>

    <div class="infobox chartBox" id="infobox"></div>
    <div class="infobox chartBox" id="infobox2"></div>

    </div>

    <div class="sharelabel">Share this result</div>

    <!-- share --> 

    <div class="rule"></div>
      <div class="slide" id="rank">
        <h2 class="chartTitle">Top Minnesota names</h2>
        <div class="chatter">The most popular boys and girls names in 2018.</div>
        <div class="breaker"></div>

    <div class="infobox listBox" id="nameBox">

      <div class="legendary orange3">
        <div class="chart-tooltip">
          <div class="tooltip-label">&nbsp;&nbsp;Boys names</div>
          <div class="tooltip-value">Rate&nbsp;&nbsp;</div>
          </div>
      </div>

      <div id="namesList"></div>
      <div class="breaker"></div>

    </div>
    <div class="infobox listBox" id="nameBox2">

      <div class="legendary purple2">
        <div class="chart-tooltip">
        <div class="tooltip-label">&nbsp;&nbsp;Girls names</div>
        <div class="tooltip-value">Rate&nbsp;&nbsp;</div>
        </div>
      </div>

      <div id="namesList2"></div>

    </div>
  </div>


  <div class="rule"></div>
  <div class="slide" id="trend">
        <h2 class="chartTitle">Trending Minnesota names</h2>
        <div class="chatter">Names with the largest rate change between 2012 and 2018.</div>
        <div class="breaker"></div>

    <div class="infobox listBox" id="nameBox">

      <div class="legendary orange3">Boys names</div>

      <div id="namesGrid" class="grid"></div>
    </div>
    <div class="infobox listBox" id="nameBox2">

      <div class="legendary purple2">Girls names</div>

      <div id="namesGrid2" class="grid"></div>

    </div>

    <div class="breaker"></div>

    <div class="source">Result reflects the last year when the name's rate reached above zero.</div>
    <div class="source">Based on Social Security card applications and, as a result, may be an incomplete count.</div>
    <div class="source">Data includes years when five babies received a certain name, so no births on the chart could mean between 0 and 4.</div>
    <div class="byline">Source: U.S. Census Bureau | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
  </div>

  </div>

  <section class="container-lg">
    <div class="article-author-contact">
          <div class="article-author-hcard">
                  <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
                  <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How popular is your name in Minnesota?" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
                  <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
                  <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
          </div>

        <div class="article-author-hcard">
                  <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>MaryJo Webster</strong> is the data editor for the Star Tribune. She teams up with reporters to analyze data for stories across a wide range of topics and beats.&nbsp;</span></p><p></p>
                  <p><a class="article-author-hcard__email" target="_blank" href="mailto:maryjo.webster@startribune.com?subject=How popular is your name in Minnesota?" data-linkname="maryjo.webster@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-2-author">maryjo.webster@startribune.com</a>
                  <a class="article-author-hcard__phone" href="tel:612-673-1789" data-linkname="612-673-1789" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-2-author">612-673-1789</a>
                  <a class="article-author-hcard__twitter" href="http://twitter.com/MaryJoWebster" target="_blank" data-linkname="MaryJoWebster" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-2-author">MaryJoWebster</a></p>
        </div>
   </div>
</section>
</div>



<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>
